<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EncryptedConnectionString" value="y05e7GhlNyltzdelMedSRUwNh5gWlRHq2pAcUpAKquy00+1oVLGeS9nZ/FX5v9/Wk9pVm1WARc0JLoF5BG+dOfgw14ExPx5O3zUxd8pNP1ct0l8I+8OWT3ZOL53+NQKHHF5RCPCYIW7dS8FwzsljFZIJoGbZn/x3ldcNeCSNhNk="/>
		<add key="EncryptionKey" value="mHfluh28rwfyuJ54NkfHpA=="/>
	</appSettings>
</configuration>
